<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}koapp{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>
