{% extends '../layout.html.twig' %}

{% block main %}
    {% for post in posts %}
    <div class="post">
        <header>
            <h2>{{ post.title }}</h2>
        </header>
        <div>
            {{ post.content }}
        </div>
        <footer>
            <p>Created at {{ post.createdAt|date('Y-m-d') }}, by {{ post.author.name }}</p>
        </footer>
    </div>
    {% endfor %}
{% endblock %}
